In [7]:
import pyspark
import pandas as pd

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [6]:
spark

In [8]:
pd.read_csv("C://Users//SUJATA//Downloads//test.csv")

   Sr.No       Name  Age
0      1     Sujata   31
1      2     Shivam   33
2      3  Siddharth   29

In [9]:
df_spark = spark.read.csv("C://Users//SUJATA//Downloads//test.csv")

In [10]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string]

In [11]:
df_spark.show()

+-----+---------+---+
|  _c0|      _c1|_c2|
+-----+---------+---+
|Sr.No|     Name|Age|
|    1|   Sujata| 31|
|    2|   Shivam| 33|
|    3|Siddharth| 29|
+-----+---------+---+

In [17]:
df_pyspark = spark.read.option('header' , 'true').csv("C://Users//SUJATA//Downloads//test.csv")

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
print (df_pyspark.printSchema)

<bound method DataFrame.printSchema of DataFrame[Sr.No: string, Name: string, Age: string]>